.recipe-entry {
    flex-grow: 1;
}

.recipe-header {
    display: flex;
    background-color: rgb(130, 163, 173);
    padding: 12px;
    margin: 12px;
}

.recipe-text {
    padding: 12px;
    margin: 10px;
    color: rgb(130, 163, 173)
}

.recipe-img {
    width: 250px;
    height: 250px;
    object-fit: fill;
    padding: 15px;
}

.recipe-header {
    display: flex;
    background-color: rgb(130, 163, 173);
    padding: 12px;
    margin: 12px;
}