/*------------About Me Page Styling------------------*/
#aboutMePicture{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 100%;
    width: 60%;
    border: 2px solid black;
}

#aboutMe{
    align-self: top;
    margin: 0px;
}

.aboutMeBox{
    border: 1px solid black;
    background-color: bisque;
    margin: 15px;
    margin-top: 10px;
    padding: 5px;

    display:flex;
    flex-direction: row;
}

.aboutMeDesc{
    display:flex;
    flex-direction: column;
    margin-right: 5px;
}