
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgb(245, 157, 173);
}

#titleContainer {
  text-decoration: none;
}

.Title {
  color:  rgb(57, 7, 49);
}

.NavItem {
  margin: 0px 10px;
  color:  rgb(57, 7, 49);
}