body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 6px 100px;
    margin: 0;
  }
  
  #title {
    color: rgb(148, 125, 106);
  }
  
  .navbar {
    display: block;
  }
  
  .navbar a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 40px;
    color: #82aa77;
  }
  
  .navbar a:hover {
    color: rgb(69, 95, 48);
    transition: ease-in-out 0.25s;
  }
  