h1 {
  margin-left: 5px;
  color: darkolivegreen;
  background-color: beige;
  margin-right: 55%;
}

.MyCookbook {
  color: darkolivegreen;
  margin-left: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  border: 2px solid black;
}

.homeLink {
  align-self: center;
  margin-right: 20px;
  font-size: large;
  margin-left: 10px;
  color: darkolivegreen;
}

.row {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
}

.side {
  padding-right: 32%;
}

.main {
  /*background-color: beige; White background color */
  padding-left: 5px;
  padding-right: 10%;
}

body {
  background-color: lightcyan;
}

.image_size {
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}
