html, body {
    margin: 0;
    background-color: rgb(249, 254, 255);
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
   }

header {
    background-color : rgb(49, 221, 150);
    width : 100%;
    display: flex;
    flex-direction: row;
}
.topnav {
    text-align: center;
    width: 700px;
    margin-left: 5%;
    padding : 50px;
}
.topnav a {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav a:link {
    color : white;
    font-size: 25px;
}

.topnav a:visited {
    color : white;
    font-size: 25px;
}

.topnav a:hover {
    color:rgb(178, 165, 182);
    font-size: 25px;
}

#heading {
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    margin-left : 10px;
    font-size: 50px;
    color: white;
}

.banner {
    padding: 40px;
    text-align: center;
}

hr {
    border: 3px dashed rgb(49, 221, 150);
    width : 80%;
    text-align: center;
}

h1 {
    text-align: center;
}

a:link {
    color:rgb(45, 199, 135);
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color:rgb(45, 199, 135);
    font-size: 30px;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color:rgb(45, 199, 135);
    font-size: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-image {
    width: 300px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 1%;  
    border: 5px solid rgb(49, 221, 150);  
    
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#menu {
    display: flex;
    flex-direction: row;
}

.item {
    margin: 5%;
    margin-top: 1%;
    width: 33%;
    text-align: center;
}
