header{
    text-align: center;
    background-color: rgb(220, 127, 53);
    border: solid black 5px;
    font: xx-large bold;
    background-image: -webkit-radial-gradient(rgb(238, 193, 38),rgb(220, 127, 53));
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topMenu{
    background-color: pink;
    text-align-last: center;
    font-size: 25px;
    border-spacing: 50px;
    padding: 10px;
}

.menuOption{
    border-spacing: 100px;
    color: blue ;
    padding-left: 30px;
}

img{
    padding: 10px;
    padding-top: 0px;
}

.orderedList{
    float: left;
    width: 35%;
    margin: 10px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipeBox{
    width: 43%;
    height: 180px;
    background-color: cyan;
    border: darkblue 50px 8px solid;
    margin: 10px;
    text-align: center;
    padding: 20px;
    font: 80px bold;
}

.topRight{
    position: absolute;
    right: 10px;
}

.topLeft{
    position: absolute;
    left: 10px;
    background-color: pink;
    text-align: center;
}

.bottomLeft{
    position: absolute;
    left: 10px;
    top: 500px;
    background-color: rgb(231, 231, 116);
}

.bottomRight{
    position: absolute;
    right: 10px;
    top: 500px;
    background-color: lightgreen;
}

.title{
    font: 60px bold;
    text-align: center;
    margin: 0px;
}

.description{
    width: 25%;
    font-size: large;
    border: darkblue medium solid;
    padding: 20px;
    margin: 15px;
    background-color: white;
}

.boxes{
    width: 95%;
    font-size: large;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.recipe{
    width: 35%;
    font-size: large;
    border: darkred medium solid;
    padding: 20px;
    margin: 15px;
    background-color: white;
}

.ingredients{
    width: 15%;
    font-size: large;
    border: darkgreen medium solid;
    padding: 20px;
    margin: 15px; 
    background-color: white;
}

.button{
    background: darkorange;
    border-radius: 2px solid;
}

.addField{
    border: 2px solid black;
    margin: 2px;
    padding: 5px;
    background: lightslategrey;
    border-radius: 20px;
    color: white;
}

#JSONbutton{
    margin-left: 37%;
    margin-right: 37%;
    width: 26%;
    background-color: black;
    color: white;
    font-size: x-large;
}

#pre-formatter{
    font-size: large;
    border: indianred medium solid;
    padding: 20px;
    margin: 15px; 
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}