:root {
  /* variables */
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background: var(--cg-grey);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;

}

.header-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0px 20px;

  /* border: solid red; */
}

.main-text a {
  font-family: Georgia;
}

.main-text a:hover {
  text-decoration: None;
}

.navbar {
  /* border: solid blue; */
  position: relative;
  right: 30px
}

header a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: monospace;
}

header a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

header a:active {
  color: var(--cg-blue);
}

h3 a {
  color: var(--cg-white);
  text-decoration: none;
}

h3 a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

h3 a:active {
  color: var(--cg-blue);
}

p a, li a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

p a:hover, li a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

p {
  font-weight: lighter;
}

section b {
  letter-spacing: 1px;
}

main {
  padding: 0 20px 40px 20px;
}

.intro {
  display: flex;
  margin-left: 20px;
  justify-self: center;
  text-align: center;
}

.welcome {
  display: flex;
  justify-content: center;
}

.recipe {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: lighter;
}

.recipe-name {
  font-size: 20px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  /* border: 2px solid blue; */
}

.item-link {
  width: 70%;

  /* border: 2px solid red; */
}

.search-item {
  float: left;
  object-fit: cover;
  width: 100%;
  height: 500px;
  flex-basis: 50px;
  flex-grow: 1;

  /* border: 2px solid black; */
}

.search-item-2 {
  display: flex;
  background-color: var(--cg-white);
  float: right;
  width: 30%;
  height: 500px;
  flex-basis: 50px;
  flex-grow: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;

  /* border: 2px solid green; */
}

.picture {
  display: flex;
  width: 20%;
  height: auto;
}

.pic-of-me {
  width: 100%;
  height: 100%;
}

.pic-of-me:hover {
  width: 150%;
  height: auto;
  transition: all .2s ease-in-out;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  /* border: solid red; */
}

.flex-img-ctn {
  width: 30%;
}

.flex-image {
  /* border: 2px solid black; */
  float: right;
  object-fit: cover;
  width: 100%;
  height: 300px;

  align-items: flex-end;
  justify-content: end;

  flex-basis: 50px;
  flex-grow: 1;
}

.flex-header {
  float: left;
  flex-basis: 50px;
  flex-grow: 1;

  height: 300px;
  padding-right: 20px;
  padding-left: 20px;

  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  /* border: solid blue; */

  background-color: var(--cg-white);
}

.tutorial {
  display: flex;
  justify-content: center;
}

.form-button {
  background-color: var(--cg-black);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;
}

.form-button:hover {
  background-color: var(--cg-blue);
}

.form-element {
  font-family: monospace;
}

.vertical-align * {
  vertical-align: middle;
}

iframe {
  border: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span {
  position: relative;
  display: inline-flex;
  width: 90px;
  height: 25px;
  perspective: 1000px;
  text-align: center;

  /* border: solid blue; */
}

span a {
  font-size: 15;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-12px);
  transition: transform .25s;

}

span a:before,
span a:after {
  position: absolute;
  content: "Convert to JSON";
  height: 25;
  width: 180;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 2px;
}

span a:before {
  color: var(--cg-white);
  background: var(--cg-black);
  transform: rotateY(0deg) translateZ(12px);
}

span a:after {
  color: var(--cg-white);
  background: var(--cg-blue);
  transform: rotateX(90deg) translateZ(12px);
}

span a:hover {
  transform: translateZ(-12px) rotateX(-90deg);
}