:root {
    --cg-blue: rgb(248, 248, 248);
    --cg-light-blue: #00afb9ff; 
    --cg-green: #6b9c81;
    --cg-yellow: #fdfcdcff;
    --cg-peach: rgb(255, 255, 255);
    --cg-orange: rgb(145, 112, 110);
    --colorWhite: white;
    --colorGray: gray;
  }

h1 {
  font-family: -apple-system, BlinkMacSystemFont;
  margin: 75; 
}

nav {
  font-family: -apple-system, BlinkMacSystemFont;
}
  
.header-background{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--colorGray);
  color: var(--colorWhite);
  padding: 0 30px;
}

.recipesTitle {
  margin: 50;
  display: flex;
  justify-content: center;
}

body {
  background: var(--colorWhite);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
}
  
header a, h3 a {
  color: var(--colorWhite);
  margin: 0 12px;
}
header a:hover, h3 a:hover {
  color: black;
}
  
h3 {
    background-color: var(--colorGray);
    padding: 8px 8px;
    display: flexbox;
    justify-content: left;
    color: var(--colorWhite);

}
  
main {
  padding: 0 20px 40px 20px;

}

.search-container {
  display: flex;
  flex-wrap:wrap;
  max-width: 1000px;
  margin-right: 20px;

}

.search-item {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 200px;
  max-height: 250px;
  flex-basis: 50px;
  flex-grow: 1;
}

.search-item-2 {
  height: 150px;
  flex-basis: 50px;
  flex-grow: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: hidden;
}

.myPicture {
  display: flex;
  align-items: center;
  /* width: 500px;
  height: 500px; */
}

.right{
  display: flex;
  justify-content: right;
}

.box {
display: flex;
align-items: center;
justify-content: center;
}
  
.flex-image {
  border: none;
  max-width: 350px;
  max-height: 350px;
  align-items: flex-end;
  justify-content: end;
  flex-basis: 50px;
  flex-grow: 1;
}
  
.flex-header {
  flex-basis: 50px;
  padding-right: 20px;
  flex-grow: 1;
  margin: 0px;
  line-height: 1.5;
  overflow: hidden;
}
  
  