.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}

.about-title {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    justify-content: center;
}

.about-text {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 0px;
}

.polaroid-image {
    display: flex;
    justify-content: center;
    width: 300px;
}

.title-header {
    background-color: lightblue;
    padding: 5px 15px;
}