h1 {
    background-color: #4c5760;
  }

  body {
    background-color: #93a8ac;
  }
  
  .boxes{
    background-color: #d7ceb2;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  #home {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  #about {
    padding-right: 100px;
  }

  #brigadeiro {
    padding-right: 100px;
  }
  
  #tapioca {
    padding-right: 100px;
  }
  #pudim {
    padding-left: 100px;
  }