.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 15px 0px;
}

img {
    border: 2px solid black;
}

.recipe-header-title {
    color: gray;
}

.ingredients-container {
    padding: 15px 0px;
}

.steps-container {
    padding: 15px 0px;
}

.title-text {
    background-color: lightblue;
    padding: 5px 15px;
}