.recipe {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  /* border: 6px solid #d0a47d; */
}

.recipe img {
  max-width: 150px;
  max-height: auto;
  flex-basis: 50px;
  flex-grow: 1;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.preview p {
  font-size: 1.1rem;
  color: rgb(255, 242, 219);
  height: 150px;
  flex-basis: 50px;
  flex-grow: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: hidden;
}

.recipe-container {
  padding: 100px;
  background-color: rgb(245, 169, 98);
}

.recipe-container a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(253, 244, 227);
  margin-bottom: 20px;
}

.recipe-container a:hover {
  color: rgb(177, 124, 44);
  transition: all 0.25s ease-in-out;
}
