.outline {
    border: 2px solid grey;
    background-color: green;
    margin-bottom: 20px;
    padding: 20px;
    width: 20px;
  }
  
  .display {
    display: flex;
    flex-direction: row;
  }

  .title1{
    font: 40px bold;
    text-align: center;
    margin: 0px;
    background-color: lightslategrey;
    color:white;
    border: 2px solid black;
}

.descriptionTag{
    font-size: x-large;
    font-weight: bold;
    display:flex;
    flex-direction:row;
}
header{
    text-align: center;
    background-color: rgb(220, 127, 53);
    border: solid black 5px;
    font: xx-large bold;
    background-image: -webkit-radial-gradient(rgb(238, 193, 38),rgb(220, 127, 53));
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


img{
    padding: 10px;
    padding-top: 0px;
}

.orderedList{
    float: left;
    width: 35%;
    margin: 10px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipeBox{
    width: 43%;
    height: 180px;
    background-color: cyan;
    border: yellow 50px 8px solid;
    margin: 10px;
    text-align: center;
    padding: 20px;
    font: 80px bold;
}

.topRight{
    position: absolute;
    right: 10px;
}

.title{
    font: 60px bold;
    text-align: center;
    margin: 0px;
}

.description1{
    font-size: large;
    border: darkblue medium solid;
    background-color: white;
    align-self: center;
    width: 100%;
    margin: 0;
    padding: 2%;
}

.boxes{
    width: 50%;
    font-size: large;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.recipe{
    width: 35%;
    font-size: large;
    border: darkred medium solid;
    padding: 20px;
    margin: 15px;
    background-color: white;
}

.ingredients{
    width: 15%;
    font-size: large;
    border: darkgreen medium solid;
    padding: 20px;
    margin: 15px; 
    background-color: white;
}

.button{
    background: darkorange;
    border-radius: 2px solid;
}

.addField{
    border: 2px solid black;
    margin: 2px;
    padding: 5px;
    background: lightslategrey;
    border-radius: 20px;
    color: white;
}

#JSONbutton{
    margin-left: 37%;
    margin-right: 37%;
    width: 26%;
    background-color: black;
    color: white;
    font-size: x-large;
}

#pre-formatter{
    font-size: large;
    border: indianred medium solid;
    padding: 20px;
    margin: 15px; 
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}