header {
  display: flex;
  background-color: rgb(245, 191, 201);
  justify-content: space-between;
  padding-right: 10px;
}

nav {
  display: flex;
}

a {
  font-family: Helvetica;
  padding: 15px;
}
