body {
  font-family: Georgia, sans-serif;
  background-color: lightgoldenrodyellow;
  font-size: large;
}

.preview {
  display: flex;
  padding: 10px;
}

.description {
  margin: 10px;
}

.heading {
  background-color: moccasin;
  padding: 10px;
  margin: 10px;
}
