.recipe_title {
    font-family: 'Times New Roman', Times, serif;
    color: Silver;
    background-color: maroon;
    font-size: 25px;
    text-align: center;
    width: 150%;
    border: 0px;
    padding-bottom: 20px;
}

#click {
    font-size: 30px;
    color: Silver;
}
