.recipeDescription {
    color: #F4F5F0;
    background-color: #008C45;
    display: flex;
    flex-direction: row;
}

.recipeText {
    margin-left: 30px;
}

.recipeImage {
    margin: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ingredients {
    background-color: #008C45;
    color: #F4F5F0;
    padding: 10px;
}

.title {
    background-color: #CD212A;
    padding: 10px;
    border: 3px solid #F4F5F0;
}

.header {
    margin: 20px;
}

.inputForm {
    border: 3px solid #CD212A;
    margin: 20px;
    margin-bottom: 0px;
}

.inputFormHeader {
    font-style: bold;
    margin: 10px;
    font-size: larger;
}

.inputFormInput {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.inputBox {
    width: 300px;
    margin-left: 10px;
}

.inputButton {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #CD212A;
    color:#F4F5F0;
}