.img {
    margin-left: 20px;
}

.Ingredient {
    color:black;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 5px white;

}
