html {
    height: 100%;
  }
  
  body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var(--light-blue);
  }

  main{
    padding: 0px 40px 10px;
  }
  
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    background-color: var(--dark-navy);
    color: var(--cg-whitesmoke);
    padding: 10px 20px;
  }