.intro {
  display: block;
  justify-content: left;
  flex-wrap: wrap;
  padding: 190px 100px;
  background-color: #c46363;
  contain: content;

  /* border: 6px solid lightblue; */
}

.intro h2 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(255, 241, 224);
}

.intro p {
  float: left;
  color: rgb(255, 241, 224);
  /* border: 3px solid lightblue; */
  max-width: 600px;
  margin-bottom: 80px;
}

#brek {
  float: right;
  margin-top: -50px;
  max-width: 400px;
  max-height: auto;
  flex-basis: 50px;
  flex-grow: 1;
}
