.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: linen;
    color: maroon;
    font-family: Trebuchet MS, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }