header {
  text-align: center;
  background-color: #eae1eb;
  padding: 2em;
  border-radius: 10em;
  margin: 2em;
}

header h1 {
  font-size: 28px;
  margin-bottom: -5px;
}

header p {
  font-size: 18px;
  font-style: italic;
}

/* ----- recipe cards ----- */

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  /* border: 10px solid black; */
  flex-grow: 1;
  min-width: 22em;
  max-width: 25%;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 60px;
  border-radius: 10px;
  background-color: white;
}

.grow {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.02);
}

#recipes a:visited {
  text-decoration: none;
  color: black;
}
