#page{
  margin: 20px;  
}

#steps{
    background-color: #d7ceb2;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ingredients {
    background-color: #d7ceb2;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}