.recipeSample {
   background-color: #ffffff;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
   margin-bottom: 2rem;
   padding: 2rem;
   max-width: 100%;
 }
 
 .recipeSample h2 {
   margin-top: 0;
 }
 
 .recipeSample a {
   font-size: 1em;
   font-style: italic;
 }

@media screen and (min-width: 768px) {

   .recipeSample {
      max-width: 40%;
   }
 
 }
 