:root {
   --body-font: 'Manrope-Regular', Arial, sans-serif;
   --h1-font: 'Manrope-ExtraBold', Arial, sans-serif;
   --h2-font: 'Manrope-Bold', Arial, sans-serif;
   --h3-font: 'Manrope-Medium', Arial, sans-serif;
}

body {
   background-color: #fafafa;
   font-family: var(--body-font);
   max-width: 900px;
   margin: auto;
   padding: 32px;
   font-size: 1rem;
}

h1 {
   font-family: var(--h1-font);
   font-size: 2.5rem;
}

h2 {
   font-family: var(--h2-font);
   font-size: 2rem;
   margin: 1em auto .5em auto;
}

h3 {
   font-family: var(--h3-font);
   font-size: .9rem;
   margin: 0 auto 1.5rem auto;
}

p, li {
   font-size: 1rem;
   line-height: 1.4;
}

li {
   margin: 0 auto 1.4em auto;
}

button {
   display: block;
   margin: 1rem auto 1rem 0;
   background-color: #ffffff;
   color: #000000;
   border: 1px solid #eeeeee;
   border-radius: 12px;
   box-shadow:0 2px 8px rgba(0, 0, 0, 0.05);
   font-family: var(--h3-font);
   font-size: 1rem;
   padding: .8em;
   -webkit-transition: box-shadow 400ms ease-out;
   -moz-transition: box-shadow 400ms ease-out;
   -o-transition: box-shadow 400ms ease-out;
   transition: box-shadow 400ms ease-out;
}

button:hover {
   cursor: pointer;
   box-shadow: 0 2px 8px rgba(97, 9, 9, 0.30);
}

input, textarea {
   font-family: var(--body-font);
   padding: .5em;
   background-color: #ffffff;
   border: 1px solid #dddddd;
   border-radius: 8px;
}

textarea {
   min-width: 30em;
   min-height: 5em;
}

header {
   background-color: #ffffff;
   border-radius: 12px;
   margin-bottom: 5rem;
   padding: 1em;
   text-align: center;
   color: #000000;
   font-size: 2rem;
}

nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 3.5em;
   margin: auto;
   padding: .5em;
   font-size: 1.3em;
}

a {
   color: #6b0404;
}

a:visited {
   color: #6b0404;
}

a:hover {
   background-color: #fff025;
   transition: background-color 200ms ease-out;
}

#title a {
   text-decoration: none;
   font-size: 2rem;
   color: #000000;
}

#catchphrase {
   margin: 4rem auto;
   text-align: left;
}

#recipeCards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.recipeSample {
   background-color: #ffffff;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
   margin-bottom: 2rem;
   padding: 2rem;
   max-width: 100%;
}

.recipeSample h2 {
   margin-top: 0;
}

.recipeSample a {
   font-size: 1em;
   font-style: italic;
}

.recipe-header {
   width: 100%;
   height: auto;
   margin-bottom: 4rem;
}

#jsonBlock {
   overflow: auto;
   white-space: pre-line;
   background: #f5f5f5;
   border-radius: 12px;
}

#jsonBlock.active {
   padding: 1em;
}

#json {
   white-space: pre;
}

@media screen and (min-width: 768px) {

   header {
      font-size: 1.25rem;
   }

   nav {
      flex-direction: row;
      justify-content: center;
      column-gap: 3em;
      height: auto;
      width: 100%;
      font-size: 1em;
   }

   .recipeSample {
      max-width: 40%;
   }

}

@font-face {
   font-family: 'Manrope-Regular';
   src:  url(./fonts/Manrope-Regular.woff2),
         url(./fonts/Manrope-Regular.woff);
}

@font-face {
   font-family: 'Manrope-Medium';
   src:  url(./fonts/Manrope-Medium.woff2),
         url(./fonts/Manrope-Medium.woff);
}

@font-face {
   font-family: 'Manrope-Bold';
   src:  url(./fonts/Manrope-Bold.woff2),
         url(./fonts/Manrope-Bold.woff);
}

@font-face {
   font-family: 'Manrope-ExtraBold';
   src:  url(./fonts/Manrope-ExtraBold.woff2),
         url(./fonts/Manrope-ExtraBold.woff);
}