hr {
    border: 3px dashed rgb(49, 221, 150);
    width : 80%;
    text-align: center;
    margin: 5%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
}

.menu-image {
    width: 300px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 1%;  
    border: 5px solid rgb(49, 221, 150);  
    
}
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.recipe {
    margin-top: 2%;
    margin-left: 10%;
    max-width: 80%;
}

.description {
    display: flex;
    flex-direction: row;
}

#form {
    border: 2px solid rgb(49, 221, 150);
    padding: 0 20px 20px 20px;
}

button {
    background-color: rgb(49, 221, 150);
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}