body{
    margin:0;
    background-color: #fefae0;
}

h1{
    margin: 20px;
    margin-top: 15px;
}

h3{
    margin: 40px;
    margin-top: 5px;
}

nav{
    display: flex;
    background-color: #faedcd;
    justify-content: space-around;
    padding: 5px;
    margin: px;
}

Link{
    text-decoration: none;
    font-size: 19px;
    display:inline;
    clear:none;
    color: black;
}

#info_head{
    margin-left:20px;
}

#information{
    display:flex;
}

#my_pic{
    margin-left:20px;
}

#recipe_showcase{
    display:flex;
    justify-content:space-around;
}

.recipe-content{
    display:flex;
}
.Ingredients_Steps{
    display:flex;
}
.ingredients{
    margin:20px;
}
.steps{
    margin:20px;
}
.pic{
    margin:20px;
    margin-top:0;
}