* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #CD212A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid #E7E3D4;
}

.title {
    color: #F4F5F0;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}

.navigation-bar {
    color: #F4F5F0;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
}

.main {
    background-color: #008C45;
}

.introduction {
    color: #F4F5F0;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.description {
    padding-right: 20px;
    font-size: larger;
}

.image {
    margin: 20px;
    border: 3px solid #F4F5F0;
}

.recipe-header {
    color: #F4F5F0;
    background-color: #CD212A;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-indent: 20px;
    border-style: solid;
    border-color: black;
    border: 3px;
}

.text-description {
    padding-left: 40px;
    padding-top: 20px;
    color: #F4F5F0;
    font-size: larger;
}

ul ol {
    padding-top: 10px;
    margin-left: 20px;
}

li {
    margin-left: 20px;
}

.ingredient-input {
    border: #CD212A;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}



