body{
    background-color: aliceblue;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

/*------------About Me Page Styling------------------*/
#carbonaraPic, #spaghettiPic, #pestoPic {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 100%;
    width: 60%;
    border: 2px solid black;
}

/*------------Recipe Page Styling------------------*/
#carbonaraIngredients, #spaghettiIngredients, #pestoPastaIngredients, #JSONButton{
    font-size: 15px;
}


#carbonaraMethod, #spaghettiMethod, #pestoPastaMethod{
    font-size: 15px;
}

#carbonaraTitle, #spaghettiTitle, #pestoPastaTitle{
    align-self: top;
    margin: 0px 0px 4px 0px;
}